.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00000088;
  z-index: 1;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.menu.hidden {
  display: none;
}

.menu_container {
  width: min-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #313131;
  z-index: 5;
}

.menu_container_options {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border-radius: 8px;
  list-style: none;
  font-size: 14px;
  line-height: 1.6;
  background-color: #212121;
  color: #ffffff;
  grid-area: h_legend;
}

.menu_container_options_item {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu_container_options_item:hover {
  background-color: #313131;
}

.menu_container_options_item.selected {
  background-color: #313131;
}

.menu_container_grid {
  width: min-content;
  height: min-content;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #212121;
  grid-area: h_grid;
}

.menu_container_grid_field {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4d4d4d;
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu_container_grid_field:hover {
  background-color: #686868;
}

.menu_container_grid_field.selected {
  border: 4px solid #c4c4c4;
}

@media screen and (max-width: 1000px) {
  .menu_container_instructions {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .menu_info {
    width: 100%;
    padding: 5px;
    gap: 5px;
  }

  .menu_info_grid {
    padding: 5px;
    gap: 5px;
    grid-template-columns: none !important;
  }

  .menu_info_grid_field {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .menu_info_legend {
    padding: 5px;
    padding-left: 25px;
  }

  .menu_info_instructions {
    padding: 5px;
    padding-left: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .menu_container {
    width: 100%;
  }
}
